header {
    height: 4rem;
}

.searchbar-div {
    max-width: 35.5rem;
}

.searchbar {
    outline: none;
}

.searchbar-div>button {
    width: 1.5rem;
    aspect-ratio: 1;
    top: 0rem;
    bottom: 0;
    right: 0.5rem;
    margin: auto;
}

.searchbar::placeholder {
    font-size: 1rem;
}