header {
    height: 4rem;
}

.searchbar-div {
    max-width: 35.5rem;
}

.searchbar {
    outline: none;
}

.searchbar-div>button {
    width: 1.3rem;
    top: 0.2rem;
    bottom: 0;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.searchbar::placeholder {
    font-size: 1rem;
}