header {
    height: 4rem;
}

.searchbar {
    max-width: 35.5rem;
    outline: none;

    background-image: url('/asset/icon/search.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 97%;
}

.searchbar::placeholder {
    font-size: 1rem;
}