body {
    background-color: #f1f2f4;
}

.categories>img {
    width: 4rem;
}

.categories>span {
    font-size: 0.9rem;
}

.product-section-1 {
    height: 22rem;
}

.product-section-2 {
    max-width: 100%;
}

.announcement {
    height: 4rem;
}

.announcement-1 {
    height: 4.5rem;
}

.offer-card {
    cursor: pointer;
}

.clock-img {
    width: 1.5rem;
}

.product-feed-1 {
    width: 100%;
}

.product-feed-1>a {
    min-width: 12rem;
}

.product-feed-image {
    width: 10rem;
    height: 10rem;
}

.product-font-size {
    font-size: 0.9rem;
}